
# Binaries, checkouts, python, and hroot
/bin/
/code/
/lib/
/graph

# Generated and distribution files
/venv
/api/*.pem
/api/production.ini
/api/bootstrap.json
/containers/*.tar*
/containers/fig.yml
/config.toml
/persistent
/nginx/*.pem
/nginx/nginx.conf

# Development vagrant
/.vagrant/

# Distribution
/*.tar
