
# Binaries, checkouts, python, and hroot
/bin/
/code/
/lib/
/graph

# Generated and distribution files
/*.pem
/api/key+cert.pem
/api/production.ini
/api/bootstrap.json
/containers/*.tar*
/containers/fig.yml
/config.toml
/persistent/
/nginx/key+cert.pem

# Distribution
/*.tar
